body {
    background-color: #414141;
}

header {
    width: 100vw;
    height: 100px;
    background-color: #ffffff00;

    position: fixed;

    ul {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 100px;
        grid-template-columns: 200px 1fr 100px 100px 50px;
    }

    li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    p {
        font-size: 1.5em;
        color: #414141;
    }

    #logo {
        grid-column: 1 / 2;
    }

    img {
        width: 200px;
        height: 100px;
        object-fit: cover;
    }

    #article {
        grid-column: 3 / 4;
    }

    #about {
        grid-column: 4 / 5;
    }
}